<%- include('partials/header') %>

<main class="container">
  <a class="btn btn-secondary my-5 px-5" href="/listado-archivo">Inicio</a>

  <form
    id="formNuevoArchivo"
    class="rounded border p-3"
    enctype="multipart/form-data"
  >
    <h3 class="mb-3 text-center bg-primary text-light rounded p-2">
      Nuevo Archivo Fileupload
    </h3>
    <div class="mb-3">
      <label for="nombres" class="form-label">Nombres</label>
      <input type="file" class="form-control" id="file" name="file" required />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</main>

<script src="/js/crear-archivo.js"></script>

<%- include('partials/footer') %>
