<%- include('partials/header') %>

<main class="container text-center p-5">
  <h3>Elija la manera en la que le gustaría ver los archivos</h3>
  <div class="d-flex justify-content-center">
    <a href="/listado-archivo" class="btn btn-primary"
      >Archivos por Fideupload</a
    >
    <a href="/listado-cloudinary" class="btn btn-secondary"
      >Archivos por Cloudinary</a
    >
  </div>
</main>

<%- include('partials/footer') %>
